{% extends 'layout.html' %}
{% set active_page = "accounts" %}
{% block body %}
<div class="card">
  <div class="card-header">Add User</div>
  <div class="card-body">
<form >
  <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username" placeholder="username" value="" required>
  </div>
  <div class="form-group">
     <div class="form-check">
        <input type="checkbox" class="form-check-input" id="readonly">
        <label class="form-check-label" for="readonly">Read only</label>
     </div>
  </div>
  <div class="form-group">
      <label for="passwd1">Password</label>
      <input type="password" class="form-control" id="passwd1" placeholder="" value="" required>
  </div>
  <div class="form-group">
      <label for="passwd2">Password</label>
      <input type="password" class="form-control" id="passwd2" placeholder="" value="" required>
 </div>

  <div class="form-group">
    <button class="btn btn-primary" type="submit">Add User</button>
    <a class="btn btn-light button" href="/accounts">Cancel</a>
  </div>
</form>
</div>
</div>
{% endblock %}
