{% extends 'layout.html' %}
{% set active_page = "sshkeys" %}

{% block body %}
<div class="card">
  <div class="card-header">SSH Keys</div>
  <div class="card-body">

  <table class="table table-hover">
    <thread>
      <th>#</th>
      <th>SSHkey Name</th>
      <th>Public Key</th>
      <th>Active</th>
      <th>Actions</th>
    </thead>

    <tbody>
      <td>1</td>
      <td>Default</td>
      <td><button type="button" class="btn btn-secondary">Download</button></td>
      <td>Yes</td>
      <td>
        <button type="button" class="btn btn-info">Edit</button>
        <button type="button" class="btn btn-danger disabled">Delete</button>
      </td>
    </tbody>
  </table>
   <a class="btn btn-primary button" href="/addkey">
     Add Key
   </a>
</div>
</div>
{% endblock %}
